extends ../layout

block script
  script(type="text/javascript").
    let saveTable = () => { 
      let demoTable = document.getElementById('demo');
      let cell = new Object;
      let table = {row: #{row}, col: #{col}};
      for(let i = 0; i < #{row}; i++ ){
        for(let j = 0; j < #{col}; j++){
          cell = demoTable.getElementsByClassName(i+':'+j)[0];
          table[i+':'+j] = cell.childNodes[0].value;
        };
      };
      return(table);
    };

    let downloadFile = (options) => {
      let config = $.extend(true, {method: 'post'}, options);
      let $iframe = $('<iframe id="down-file-iframe" />');
      let $form = $('<form target="down-file-iframe" />');
      $form.attr('method', config.method);
      $form.attr('action', config.url);
      for (let key in config.data) {
        $form.append('<input type="hidden" name="' + key + '" value="' + config.data[key] + '" />');
      }
      $iframe.append($form);
      $(document.body).append($iframe);
      $form[0].submit();
      $iframe.remove();
    };

block content
  :markdown-it
    # 実験場
  p
    table(id="demo")
      - for( let i = 0; i < row; i++ )
        tr
        - for( let j = 0; j < col; j++)
          td(class=i+':'+j)
            input(type="text" size="5")
    br
    button(onclick="downloadFile({url: '/csv', data: saveTable()});") 保存
  p
    form(action="#" method="get")
      label 行：
      input(type="text" name="row")
      | 
      label 列：
      input(type="text" name="col")
      | 
      input(type="submit" value="生成")
  :markdown-it
    
    ***

    [前のページに戻る][]

    [前のページに戻る]: / "ホームページ"
